@import url("reset.css");
@import url("variables.css");

html {
    font-size: 62.5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button,
li {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1 {
    font-family: var(--font-family);
    font-size: var(--h1-desktop-size);
    line-height: var(--h1-desktop-height);
    letter-spacing: var(--h1-desktop-spacing);
    font-weight: var(--h1-desktop-weight);
}

h2 {
    font-family: var(--font-family);
    font-size: var(--h2-desktop-size);
    line-height: var(--h2-desktop-height);
    letter-spacing: var(--h2-desktop-spacing);
    font-weight: var(--h2-desktop-weight);
}

h3 {
    font-family: var(--font-family);
    font-size: var(--h3-desktop-size);
    line-height: var(--h3-desktop-height);
    letter-spacing: var(--h3-desktop-spacing);
    font-weight: var(--h3-desktop-weight);
}

.subtitle {
    font-family: var(--font-family);
    font-size: var(--subtitle-desktop-size);
    line-height: var(--subtitle-desktop-height);
    font-weight: var(--subtitle-desktop-weight);
}

.body1 {
    font-family: var(--font-family);
    font-size: var(--body1-size);
    line-height: var(--body1-height);
    font-weight: var(--body1-weight);
}

.body2 {
    font-family: var(--font-family);
    font-size: var(--body2-size);
    line-height: var(--body2-height);
    font-weight: var(--body2-weight);
}

.body3 {
    font-family: var(--font-family);
    font-size: var(--body3-size);
    line-height: var(--body3-height);
    font-weight: var(--body3-weight);
}

@media (max-width: 1024px) {
    .h1 {
        font-size: var(--h1-tablet-size);
        line-height: var(--h1-tablet-height);
        letter-spacing: var(--h1-tablet-spacing);
        font-weight: var(--h1-tablet-weight);
    }

    .h2 {
        font-size: var(--h2-tablet-mobile-size);
        line-height: var(--h2-tablet-mobile-height);
    }

    .h3 {
        font-size: var(--h3-tablet-mobile-size);
        line-height: var(--h3-tablet-mobile-height);
    }

    .subtitle {
        font-size: var(--subtitle-tablet-mobile-size);
        line-height: var(--subtitle-tablet-mobile-height);
    }
}

@media (max-width: 768px) {
    .h1 {
        font-size: var(--h1-mobile-size);
        line-height: var(--h1-mobile-height);
        letter-spacing: var(--h1-mobile-spacing);
        font-weight: var(--h1-mobile-weight);
    }
}

.menu-link-light-mode {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: var(--Gray-600);
}

.menu-link-light-mode:hover {
    color: var(--Gray-900);
}

.menu-link-light-mode:active {
    color: var(--Gray-600);
}

.button-light-mode {
    display: inline-flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Gray-50, #F9FAFB);

    border-radius: 12px;
    background: var(--Gray-900, #111827);

    transition: background-color 0.2s ease-in-out;
}

.button-light-mode:hover {
    background: var(--Gray-700, #374151);
}

.button-light-mode:active {
    background: var(--Gray-800);
}

.icon-button-light-mode {
    display: inline-flex;
    padding: 6px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    transition: background-color 0.2s ease-in-out;
}

.icon-button-light-mode:hover {
    background: var(--Gray-100, #F3F4F6);
}

.icon-button-light-mode:active {
    background: var(--Gray-200);
}

.tag-light-mode {
    display: inline-flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    color: var(--Gray-600, #4B5563);

    border-radius: 12px;
    background: var(--Gray-200, #E5E7EB);
}

