
/* ---------------- header ---------------- */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 80px;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.divider {
    width: 1px;
    height: 24px;

    background: var(--Gray-200);
}

.navigation-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* --------------- hero ---------------- */

.page-content {
    width: 100%;
    padding: 96px 80px;
}

.hero-container {
    display: flex;
    padding: 0 32px;
    gap: 48px;
}

.hero-content-column {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 48px;
}

.column-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.column-hero-content .group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.available-dot {
    width: 8px;
    height: 8px;

    border-radius: 20px;
    background: #10B981;
}

.hero-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-links {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px;
}

.linkedin-logo > img {
    width: 24px;
    height: 24px;

    color: var(--Gray-600);
}

.hero-img-column {
    display: flex;
    min-width: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero-img-container {
    width: 320px;
    height: 360px;
}

.hero-img {
    width: 280px;
    height: 320px;
    border: 8px solid var(--Gray-Default, #FFF);
    box-shadow: 0 0 0 var(--Gray-200);

    transition: all 0.2s ease-in-out;
}

.hero-container:hover {
    .hero-img {
        box-shadow: 30px 30px 0 var(--Gray-200);
    }
}

.about {
    background: var(--Gray-50, #F9FAFB);
}

.about-container {
    display: flex;
    padding: 0 32px;
    gap: 48px;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.about-img-wrapper {
    display: flex;
    min-width: 444px;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid red;
}

.about-img-container {
    width: 440px;
    height: 420px;
}

.about-text {
    display: flex;
    min-width: 444px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.about-topics {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.topics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.skills-container {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.skills-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 48px;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.skill > img {
    width: 64px;
    height: 64px;
}

.projects {
    background: var(--Gray-50, #F9FAFB);
}

.projects-container {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.project {
    display: flex;
    width: 1152px;

    border-radius: 12px;
    background: var(--Gray-Default, #FFF);

    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
}

.project:hover {
    box-shadow: 0 16px 12px 0 rgba(0, 0, 0, 0.07), 0 8px 8px 0 rgba(0, 0, 0, 0.06);
}

.project-img {
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;

    border-radius: 12px 0 0 12px;
    border-right: 1px solid var(--Gray-100, #F3F4F6);
    background: var(--Gray-50, #F9FAFB);
}

.project-img img {
    border-radius: 12px;

    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.10), 0 10px 8px 0 rgba(0, 0, 0, 0.04);
}

.project-content {
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: start;
    gap: 24px;

    border-radius: 12px 0 0 12px;
}

.project-content .tags {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.project-content .links a {
    padding: 6px;
}