body {
    padding: 0 80px;
}

/* ---------------- header ---------------- */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.divider {
    width: 1px;
    height: 24px;

    background: var(--Gray-200);
}

.navigation-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* --------------- hero ---------------- */

.hero {
    width: 100%;
    padding: 96px 0;
}

.hero-container {
    display: flex;
    padding: 0 32px;
    gap: 48px;

    border: 1px solid blue;
}

.hero-content-column {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 48px;
}

.column-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.column-hero-content .group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.available-dot {
    width: 8px;
    height: 8px;

    border-radius: 20px;
    background: #10B981;
}

.hero-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-links {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px;
}

.linkedin-logo > img {
    width: 24px;
    height: 24px;

    color: var(--Gray-600);
}

.hero-img-container > img {
    width: 280px;
    height: 320px;

    border: 1px solid deeppink;
}

