
/* ---------------- header ---------------- */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 80px;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.divider {
    width: 1px;
    height: 24px;

    background: var(--Gray-200);
}

.navigation-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* --------------- hero ---------------- */

.hero {
    width: 100%;
    padding: 96px 80px;
}

.hero-container {
    display: flex;
    padding: 0 32px;
    gap: 48px;
}

.hero-content-column {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 48px;
}

.column-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.column-hero-content .group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.available-dot {
    width: 8px;
    height: 8px;

    border-radius: 20px;
    background: #10B981;
}

.hero-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-links {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px;
}

.linkedin-logo > img {
    width: 24px;
    height: 24px;

    color: var(--Gray-600);
}

.hero-img-column {
    display: flex;
    min-width: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero-img-container {
    width: 320px;
    height: 360px;
}

.hero-img {
    width: 280px;
    height: 320px;
    border: 8px solid var(--Gray-Default, #FFF);
    box-shadow: 0 0 0 var(--Gray-200);

    transition: all 0.2s ease-in-out;
}

.hero-container:hover {
    .hero-img {
        box-shadow: 30px 30px 0 var(--Gray-200);
    }
}

.about {
    background: var(--Gray-50, #F9FAFB);
    padding: 96px 80px;
}

.about-container {
    display: flex;
    padding: 0 32px;
    gap: 48px;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.about-img-wrapper {
    display: flex;
    min-width: 444px;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid red;
}

.about-img-container {
    width: 440px;
    height: 420px;
}

.about-text {
    display: flex;
    min-width: 444px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.about-topics {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.topics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
